<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../bootstrap/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../../bootstrap/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">


</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="HomeCtrl">
<div class="wrapper">

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ username }}</span>
            </a>


            <li>
                <a href="#" ng-click="logout()">sair </a>

</div>

<script type="text/javascript" src="../../bootstrap/js/angular.min.js"></script>
<script>
  angular.module("app",[])
  .controller("HomeCtrl",['$scope','$http',function($scope,$http){
    var headers={
      'headers':{
        'Authorization':'Bearer'+window.localStorage.getItem('token')
      }
    };
    //inicio_clients
    $scope.clientes=[];
    $http.get('http://localhost:8000/client',headers).then(function(response){
      $scope.clientes=response.data;
    },function(response){
      alert('algo deu errado2');
    });

    //fim_clients
    var user=JSON.parse(window.localStorage.getItem('user'));
    if(user!=null){
        $scope.username=user.name;
    }
    $scope.logout=function(){

      $http.post('http://localhost:8000/auth/logout',{},headers).then(function(response){
        window.localStorage.removeItem('tokem');
        window.localStorage.removeItem('user');
        location.href="/login.html";
      },function(response){
        alert('algo deu errado');
      });
    }
  }]);
</script>
</body>
</html>
