<!-- Main content -->
<section class="content">
  <div class="row">
        <div class="box-header with-border">
          <h3 class="box-title">Clientes</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">

          <div class="box-body">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input ng-model="client.name" class="form-control" id="usuario" placeholder="Nome" type="text">
            </div>

            <div class="form-group">
              <label for="usuario">Nome de Usuário</label>
              <input ng-model="client.username" class="form-control" id="username" placeholder="Nome de usuário" type="text">
            </div>


            <div class="form-group">
              <label for="email">E-mail</label>
              <input ng-model="client.email" class="form-control" id="email" placeholder="informe o e-mail" type="email">
            </div>

            <div class="form-group">
              <label for="cpf">CPF</label>
              <input ng-model="client.cpf" class="form-control" id="cpf" placeholder="informe o cpf" type="text">
            </div>

            <div class="form-group">
              <label for="nascimento">Data de Nascimento</label>
              <input ng-model="client.birthdate" class="form-control" id="nascimento" placeholder="informe a data de nascimento" type="text">
            </div>

          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary" ng-click="save(client)">Salvar</button>
          </div>
        </form>
    </div>

</section>
