<!-- Main content -->
<section class="content">
  <div class="row" ng-repeat="client in clients">
        <div class="box-header with-border">
          <h3 class="box-title">{{ client.name }}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">

          <div class="box-body">
            <div class="form-group">
              <label for="Usuario">Usuário: {{ client.username }}</label>
            </div>

            <div class="form-group">
              <label for="email">E-mail: {{ client.email }}</label>
            </div>

            <div class="form-group">
              <label for="cpf">CPF: {{ client.cpf }}</label>
            </div>

            <div class="form-group">
              <label for="nascimento">Data de Nascimento: {{ client.birthdate }}</label>
            </div>

          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <button class="btn btn-success" ng-click="edit(client)">Editar</button>
            <button class="btn btn-danger" ng-click="delete(client)">Excluir</button>
          </div>
        </form>
    </div>

</section>
